
<meta http-equiv="Context-Type" content="text/html; charset=UTF-8">

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <style type="text/css">
	h1 { color: #5d5d5d;}
	h2 { color: #5d5d5d;}
	h3 { color: #5d5d5d;}
	h4 { color: #5d5d5d;}
	h5 { color: #5d5d5d;}
	</style>
  </head>
  <body text="#000000" bgcolor="lightgrey">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>Z-Wave Newsletter </title>
      <table cellpadding="0" cellspacing="0" width="100%"
        bgcolor="lightgrey">
        <tbody>
          <tr>
            <td>
              <table cellpadding="0" cellspacing="0" width="605px"
                align="center" bgcolor="#F6F6F6">
                <tbody>
                  <tr>
                    <td><center><a
                        href="http://hrix.net/modules_new/" target="_blank"><img
                          src="http://hrix.net/modules_new/zwaveMe_big.png"
                          style="display:block; border:0" width="400"
                          height="130"></a></center></td>
                  </tr>
                  <tr>
                    <td>
                      <table cellpadding="0" cellspacing="0" width="554"
                        align="center" border="0">
                        <tbody>
                          <tr>
                            <td> </td>
                          </tr>
                        
                          <tr>
                            <td><br>
                            	
                            	<p>Thanks for using our Module-upload system.</p>

<p>&nbsp;</p>

<h3>Module-Store Password</h3>

Please use the link below to set your account password.
<br>
<center><p><a href="<?php  echo $link; ?>">Reset Password</a></p><center>
        Or copy this link to your browser:<br />
<center><p><?php  echo $link; ?></p></center>

<br>
<p> Best Regards </p>
<p> Z-Wave.ME - Team</p>
                            	
                            <br>
                            </td>
                          </tr>
                          
        </tbody>
      </table>
    </div>
  </body>
</html>
<html><head></head><body></body></html>