<!-- Module -->
<div ng-controller="ModuleController">
    <bb-loader></bb-loader>
    <div class="entry-header row">
        <div class="col col-md-6">
            <h1>{{_t('My modules')}}</h1>
        </div>
        <div class="col col-md-6">
            <div class="page-control form-inline">
                <div class="input-group search-form hide-on-mobile">
                <input type="text" ng-model="q" class="form-control" value="{{q}}">
                <span class="input-group-addon"><i class="fa fa-search"></i></span> 
            </div>
                <button class="btn btn-success" ng-click="expandElement('addnew')" ng-if="!expand.addnew"><i class="fa fa-plus"></i> {{_t('Add new module')}}</button>
            </div>
        </div>
    </div>
    <div ng-if="expand.addnew">
        <form name="form_module" id="form_module" class="form form-page form-inline" ng-submit_="uploadModule()" novalidate>
            <fieldset>
                <div class="row">
                    <div class="col col-md-4">
                        <input type="file" name="file" onchange="angular.element(this).scope().uploadModule(this.files)"/>
                        <!--<input type="file" class="form-control_" file-model="myFile" />-->
                    </div>
                    <div class="col col-md-8">
                         <!--<button type="button" class="btn btn-submit" ng-click="uploadModule()"><i class="fa fa-upload"></i> {{_t('Upload module')}}</button>-->
                        <button type="button" class="btn btn-default" ng-click="expandElement('addnew')"><i class="fa fa-times  text-danger"></i> <span ng-bind="_t('Cancel')"></span></button>
                    </div>
                </div>



            </fieldset>
        </form>
    </div>
    <div class="alert alert-warning" ng-if="module.data.length < 1">There are no modules.</div>
    <div>
        <table class="table table-condensed table-report">
            <thead>
            <th>&nbsp;</th>
            <th>
                <a href="" ng-click="orderBy('title')">Title
                    <span ng-show="predicate == 'title'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                </a>
            </th>
            <th>
                <a href="" ng-click="orderBy('category')">Category
                    <span ng-show="predicate == 'category'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                </a>
            </th>
            <th>
                <a href="" ng-click="orderBy('version')">Version
                    <span ng-show="predicate == 'version'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                </a>
            </th>
            <th>
                <a href="" ng-click="orderBy('maturity')">Maturity
                    <span ng-show="predicate == 'maturity'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                </a>
            </th>
            <th>
                <a href="" ng-click="orderBy('last_updated')">Updated
                    <span ng-show="predicate == 'last_updated'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                </a>
            </th>
             <th>
                <a href="" ng-click="orderBy('verified')">Verification
                    <span ng-show="predicate == 'verified'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                </a>
            </th>
            <th>&nbsp;</th>
            </thead>
            <tbody>
                <tr ng-class="v.active == 0 ? 'active-false' : ''" dir-paginate="v in module.data| orderBy:predicate:reverse | filter:q | itemsPerPage: pageSize" current-page="currentPage">
                    <td class="td-img">
                        <a ng-href="#modules/{{v.id}}/author"><img class="report-img" ng-src="{{v.icon_path}}" alt="img" /></a>
                    </td>
                    <td><a ng-href="#modules/{{v.id}}/author">{{v.title}}</a></td>
                    <td>{{v.category}}</td>
                    <td>{{v.version}}</td>
                    <td>{{v.maturity}}</td>
                    <td>{{v.last_updated}}</td>
                    <td ng-switch="v.verified">
                        <span ng-switch-when="1"><i class="fa fa-check fa-lg text-success"></i> Verified</span>
                        <span ng-switch-when="2"><i class="fa fa-exclamation-circle fa-lg text-warning"></i> in proccess</span>
                        <button class="btn btn-info" ng-switch-when="0" ng-click="verifiModule(v)"><i class="fa fa-envelope"></i> Send a request</button>
                            
                    </td>
                    <td class="td-action">
                        <span ng-if="v.commentsnew > 0">{{v.commentsnew}} <i class="fa fa-comments text-success"></i></span> 
                        <a class="btn btn-default" ng-href="{{v.file_path}}" ng-if="v.file_path"><i class="fa fa-download"></i></a>
                        <a class="btn btn-default" ng-href="#modules/{{v.id}}/author"><i class="fa fa-pencil text-info"></i></a>
                         <a class="btn btn-default" href="" ng-click="updateModule({id: v.id,active:1})" ng-if="v.active == 0"><i class="fa fa-fire text-success"></i></a>
                         <a class="btn btn-default" href="" ng-click="updateModule({id: v.id,active:0})" ng-if="v.active == 1"><i class="fa fa-ban text-danger"></i></a>
                        <a class="btn btn-default" href="" ng-click="deleteModule(v.id,_t('lb_delete_confirm'))" ng-if="v.user_id == user.id"><i class="fa fa-times text-danger"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center mobile-padding" ng-if_="collection.length > 0">
            <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
        </div>
    </div>
</div>