/* Apps comments
-------------------------------------------------- */
.comment-entry{
    margin: 0 0 10px 0;
    padding: 10px;
     background-color: lighten($entry-even-bcg-color,4%);
    .comment-header{
        position: relative;
        font-style: italic;
        font-size: 95%;
        color: $header-link-color;
        margin: 0 0 5px 0;
        button{
            position: absolute;
            right: 10px;
        }
    }
    .comment-body{
        
    }
}
.comment-entry.even{
    background-color: $entry-even-bcg-color;
}
// Author comment
.comment-type-1{
}